table {
    width: 100%;
    table-layout: auto;
}

th.mat-header-cell {
    text-align: left;
    max-width: 100px;
}

mat-card {
  margin: 0.1px;
  border: 0.1px;
  padding: 0.1px;
  width: 20%;

}



